<!-- <div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Login</h1>

    <div class="well">
      <form role="form" ng-submit="vm.login()">
        <div class="alert alert-danger" ng-show="error" ng-bind="error"></div>

        <div class="form-group">
          <label for="login__email">Email</label>
          <input type="text" class="form-control" id="login__email" ng-model="vm.email" placeholder="ex. john@example.com" />
        </div>

        <div class="form-group">
          <label for="login__password">Password</label>
          <input type="password" class="form-control" id="login__password" ng-model="vm.password" placeholder="ex. thisisnotgoogleplus" />
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div> -->
            <md-content class="md-whiteframe-z1" flex="50" layout="row" layout-align="center center" layout-padding>
                    <md-input-container>
                        <label>Email</label>
                        <input ng-model="vm.email">
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input ng-model="vm.password" type="password">
                    </md-input-container>
                    <md-input-container layout-align="center center">
                        <div layout="row" layout-sm="column" layout-margin>
                            <md-button ng-click="vm.login()" class="md-raised" flex="50" flex-sm="100">Login</md-button>
                        </div>
                    </md-input-container>
            </md-content>